@inherits ExercisePreviewBase

@if (ExercisePreviewType == ExercisePreviewType.View && Exercise != null)
{
    <div class="card my-3">
        <div class="card-body">
            <h4 class="card-title">@($"{Exercise.ExerciseNumber}. NALOGA: {Exercise.Title}")</h4>
            <p class="card-text">@($"LOKACIJA: {Exercise.Location}")</p>
            <p class="card-text">@($"REKVIZITI: {Exercise.Props}")</p>
            <NavLink href="@($"/exercise/{Exercise.Id}")" class="card-link btn btn-primary">Preberi več</NavLink>
        </div>
    </div>
}
else if (ExercisePreviewType == ExercisePreviewType.Insert && Exercise != null)
{
    <div class="card my-3">
        <div class="card-body">
            <h4 class="card-title">@($"{Exercise.ExerciseNumber}. NALOGA: {Exercise.Title}")</h4>
            <p class="card-text">@($"LOKACIJA: {Exercise.Location}")</p>
            <p class="card-text">@($"REKVIZITI: {Exercise.Props}")</p>
            <NavLink href="@($"/insertresults/{Exercise.Id}")" class="card-link btn btn-primary">Izberi nalogo</NavLink>
        </div>
    </div>
}
